@import "_vars.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  outline: none;
}
.container{
  width: 1366px;
  margin: 0 auto;
}
.letter {
  font-weight: 900;
  color: #f16d7f;
}
.main_title {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.search {
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-right-width: 0px;
  border-left-width: 0px;
  width: 100%;
}
.left_part {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 55%;
  a {
    display: block;
    text-decoration: none;
  }
}
.browse_button{
  flex: 22%;
}
.main_form_input{
  flex: 69%;
}
.magnifier_wrapper{
  flex: 9%;
}
.main_form {
  flex: 2;
}
.search_field {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.drop-down_list {
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  height: 36px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  position: relative;
  z-index: 10;
  width: 100%;
}
.browse_item {
  background-color: white;
  padding-left: 20px;
  padding-right: 143px;
  margin-top: 20px;
}
.browse-box {
  background-color: white;
  width: 262px;
  padding-bottom: 20px;
}
.browse-link {
  display: block;
  text-decoration: none;
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.browse-link:hover {
  color: #f16d7f;
}
.browse_text {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
  height: 36px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
}
.browse_text:hover {
  background-color: #696666;
  color: #fff;
}
.magnifier:hover {
  background-color: #696666;
  color: #fff;
}
.browse_text p {
  padding-right: 5px;
}
.browse_text i {
  padding-bottom: 4px;
}
.search::placeholder {
  padding-left: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}
.my_account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  margin-left: 18px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  transition: all 0.5s;
  .in_shopping_cart_products form {
    width: 100%;
    button {
      height: 50px;
      cursor: pointer;
      background-color: #fff;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      color: #4a4a4a;
      border: 1px solid #eaeaea;
      width: 100%;
      transition: all 0.5s;
    }
  }
  .in_shopping_cart_products form button:hover {
    background-color: #4a4a4a;
    color: #fff;
  }
  .in_shopping_cart_products form:first-of-type button {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    margin-bottom: 11px;
  }
  .in_shopping_cart_products form:first-of-type button:hover {
    background-color: #f16d7f;
    color: #fff;
  }
  .in_shopping_cart_products {
    transform: translate(-12%, 1%);
    width: 158%;
    padding: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .in_shopping_cart_products_total_price {
      display: flex;
      justify-content: space-between;
      font-family: Lato;
      font-size: 16px;
      font-weight: 700;
      color: #222222;
      margin: 19px 0 19px 0;
    }
    hr {
      background-color: rgba(237, 237, 237, 0.74);
      margin: 0 auto;
      margin: 6% 0;
      border: none;
      height: 1px;
    }
    .in_shopping_cart_product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      img {
        width: 43%;
      }
      i {
        font-size: 14px;
        color: #c0c0c0;
      }
      i:hover {
        color: red;
        cursor: pointer;
      }
      .in_shopping_cart_product_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-family: Lato;
          font-size: 12px;
          font-weight: 700;
          color: #222222;
          text-align: center;
        }
        img {
          width: 61%;
          margin: 10% 0;
        }
        p {
          font-family: Lato;
          font-size: 12px;
          font-weight: 400;
          color: #f16d7f;
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}
.my_account:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
  .text_my_account {
    color: #f16d7f;
  }
}
.text_my_account {
  font-family: Lato;
  font-size: 15px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.text_my_account p {
  padding-right: 9px;
}
.text_my_account i {
  padding-bottom: 4.5px;
}
.right_part {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 45%;
  .bi-cart3 {
    font-size: 34px;
    color: #222222;
  }
  .shopping_cart_link:hover {
    transform: scale(1.4);
    transition: all 0.5s;
  }
}
.magnifier {
  background-color: #ffffff;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  transition: all 0.5s;
  color: #a4a4a4;
  cursor: pointer;
  width: 100%;
}
.header {
  display: flex;
  width: 80%;
  margin: 25px auto 0 auto;
  justify-content: space-between;
}
.brand_logo {
  display: flex;
  align-items: center;
  flex: 1;
}
.first_hr {
  width: 1600px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}
.menu {
  margin-top: 24px;
}
.menu_list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 19px auto 22px;
  width: 60%;
}
.menu-link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding: 25px 20px;
}
.menu_line {
  color: #ececec;
  background-color: #ececec;
  border: none;
  height: 2px;
  margin-top: 24px;
}
.intro_img {
  width: 100%;
  height: auto;
}
.intro {
  height: 665px;
  background-color: #e8e8e8;
}
.intro_text {
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
  margin-top: 225px;
  margin-left: 260px;
}
.intro-block {
  height: 100%;
  background-image: url(../images/Intro_img.png);
}
.brand_text {
  font-family: Lato;
  font-size: 60px;
  line-height: 45px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 20px;
}
.lux_text {
  font-size: 40px;
  font-family: Lato;
  font-weight: 900;
  line-height: 31px;
}
.fashion_text {
  font-size: 40px;
  color: #f16d7f;
  font-family: Lato;
  font-weight: 900;
}
.content {
  max-width: 1141px;
  margin: 98px auto;
}
.offers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 261px);
  column-gap: 2%;
  margin-bottom: 100px;
  [class^="offers_card-"]:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: #f16d7f 0 0 25px;
    z-index: 1;
    transition: all 0.5s;
    h2 {
      background-color: #f16d7f;
      transition: all 0.5s;
      span {
        transition: all 0.5s;
        color: #fff;
      }
    }
  }
  .offers_card-1 {
    grid-column: span 1;
    grid-row: 1/3;
    margin-bottom: 20px;
  }
  .offers_card-2 {
    grid-column: span 1;
    grid-row: 3/4;
  }
  .offers_card-3 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 20px;
  }
  .offers_card-4 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
}
.offers_img {
  width: 100%;
  height: 100%;
}
.offers_card_img {
  position: relative;
  height: 100%;
}
[class^="offers_card"] h2 {
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: white;
  padding: 16px 20px;
}
.category {
  font-size: 30px;
  color: #f16d7f;
}
.mega-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 35px;
  display: none;
}
.mega-heading {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}
.mega-link {
  display: block;
  text-decoration: none;
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
.mega-link:hover {
  color: #f16d7f;
}
.menu-element {
  position: relative;
}
.mega-item {
  margin-right: 45px;
}
.mega-item:last-of-type {
  margin-right: 0;
}
.mega-box::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 35px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.menu-element:hover .mega-box {
  display: flex;
}
.last:hover .mega-box {
  right: 0;
  left: auto;
}
.last:hover .mega-box::before {
  right: 55px;
  left: auto;
}
.product_name {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 9px;
  margin-bottom: 17px;
}
.price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto auto 21px 0;
}
.featured_items {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.featured_items_text {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.featured_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product_card {
  margin: 60px auto;
  position: relative;
  .cart-box {
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    display: none;
    .cart-link {
      display: flex;
      padding: 0 5px;
      text-decoration: none;
      border: 1px solid #fff;
      justify-content: center;
      align-items: center;
      .bi-cart3 {
        color: #fff;
        margin-right: 4px;
        font-size: 18px;
        display: flex;
        align-items: center;
      }
      .add-text {
        font-family: Lato;
        font-size: 13px;
        font-weight: 700;
        color: #ffffff;
        margin: 15px auto;
      }
    }
    .cart-link:hover {
      transform: scale(1.3);
      transition: all 0.5s;
    }
  }
}
.product_card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 16);
  .cart-box {
    display: flex;
  }
  .product_photo {
    filter: brightness(30%);
  }
}
.browse_all_products {
  display: flex;
  height: 48px;
  width: 20%;
  margin: 20px auto 113px auto;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
  transition: all 0.5s;
  p {
    margin-right: 2%;
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
  }
  i {
    color: #fff;
  }
}
.browse_all_products:hover {
  background-color: #fff;
  border-color: #f16d7f;
  p {
    color: #f16d7f;
  }
  i {
    color: #f16d7f;
  }
}
.m {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
.recommended_products {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discount_banner_description_text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  width: 100%;
}
.discount_banner_description_title {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
  display: inline-block;
  width: 100%;
}
.discount_banner {
  display: flex;
  margin-bottom: 97px;
  position: relative;
}
.discount_banner_description {
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.discount_banner_description_item {
  margin: 0 auto;
  position: relative;
  width: 90%;
}
.discount_banner_description_title_text {
  width: 65%;
  margin: 0 auto;
}
.discount_banner_mini_images {
  position: absolute;
  top: 0;
  left: 0;
}
.quote_subscription {
  background-image: url(../images/background_ocean.jpg);
  height: 438px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-position: bottom;
}
.quote_text {
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
}
.quote {
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  flex-direction: column;
}
.subscription {
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
}
.whitespace {
  flex-basis: 0.1%;
  background-color: white;
}
.quote_img {
  display: block;
  height: 38%;
}
.quote_content {
  margin: 15% auto 0 auto;
  display: flex;
  width: 80%;
  .quote_content_slider {
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin-top: 14%;
    a {
      display: block;
      height: 4px;
      width: 26.6666%;
      background-color: #d6d6d6;
    }
  }
  .quote_content_slider a:nth-of-type(2) {
    background-color: #f16d7f;
  }
}
.quote_text_author {
  margin-left: 3%;
}
.subscription_content {
  margin: 124px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subscribe_title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  margin: 0 auto 35px auto;
  text-align: center;
  span {
    font-size: 14px;
  }
}
.subscribe_field {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  margin: 0 auto;
  width: 53%;
}
.subscribe_field_email {
  width: 282px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  height: 44px;
  border-right-width: 0;
  padding-left: 30px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}
.subscribe_button {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  height: 46px;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  transition: all 0.5s;
  padding: 0 12px;
}
.subscribe_button:hover {
  background-color: #fff;
  color: #f16d7f;
  cursor: pointer;
}
.quote_author {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.quote_author_addition {
  color: #222224;
  font-family: Lato;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.3px;
}
.footer {
  height: 537px;
}
.main_footer {
  display: flex;
  margin: 109px auto 90px auto;
  width: 80%;
  justify-content: space-between;
}
.footer_logo {
  display: flex;
  margin-bottom: 29px;
  align-items: center;
  a {
    text-decoration: none;
  }
}
.footer_text {
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.footer_list {
  list-style-type: none;
  flex: 20%;
}
.footer_list:last-of-type {
  margin-right: 0;
}
.footer_list li:last-of-type {
  margin-bottom: 0;
}
.footer_list h3 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
  padding-bottom: 0;
}
.footer_list li {
  margin-bottom: 30px;
  white-space: nowrap;
}
.footer_list a:hover {
  color: #f16d7f;
}
.footer_logo_text {
  flex: 40%;
  h1 {
    margin-top: 9px;
    margin-left: 1.5%;
  }
}
.footer_list:first-of-type {
  margin-left: 7%;
}
.copyright {
  display: flex;
  justify-content: space-around;
  height: 79px;
  background-color: #e6e6e6;
}
.copyright_text {
  color: #7a7a7a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 79px;
}
.product_card_link {
  text-decoration: none;
  display: block;
}
.product_card_text{
  padding-left: 6%;
}
.discount_banner_offer {
  font-family: Lato;
  font-size: 53.7px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: absolute;
  top: 146px;
  left: 39px;
}
.OFFER {
  color: #f16d7f;
}
.discount_banner_offer h3:nth-child(2) {
  font-size: 32.2px;
}
.fa-brands {
  background-color: white;
  cursor: pointer;
  width: 8%;
  padding: 8px;
  transition: all 0.5s;
}
.fa-brands::before {
  display: flex;
  justify-content: center;
}
.fa-brands:hover {
  background-color: #f16d7f;
}
.icon-box {
  margin-top: 24px;
  a {
    color: black;
  }
}
.footer-link {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.new_arrivals_block {
  display: flex;
  justify-content: space-between;
  height: 148px;
  background-color: #f8f3f4;
}
.new_arrivals_block h2 {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 65px;
  margin-left: 100px;
}
.bread_crumbs {
  margin-top: 65px;
  margin-right: 160px;
}
.bread_crumbs a {
  text-decoration: none;
  color: #636363;
  margin-left: -3px;
}
.bread_crumbs a:last-of-type {
  color: #f16d7f;
}
.main_product_photo {
  height: 724px;
  margin: 0 auto;
  display: block;
}
.decoration_line::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.grey_decoration_line {
  height: 1px;
  background-color: #eaeaea;
  width: 42px;
  display: inline-block;
  margin-right: -0.25em;
  vertical-align: middle;
}
.pink_decoration_line {
  height: 3px;
  background-color: #ef5b70;
  width: 63px;
  display: inline-block;
  margin-right: -0.25em;
  vertical-align: middle;
}
$product_description_width: $container_width * 0.7;
.product_description {
  width: $product_description_width;
  display: inline-block;
  transform: translateY(-76px);
  background-color: #fff;
  padding-top: 73px;
  border: 1px solid #eaeaea;
  padding-bottom: 122px;
}
.main_product_photo_block {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  z-index: -1;
}
.product_description_wrapper {
  width: $container_width;
  text-align: center;
}
.product_collection {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding-left: 4px;
}
.product_description_text {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  width: $product_description_width * 0.66;
  margin: 0 auto;
  display: block;
}
.material_designer {
  display: flex;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  justify-content: space-between;
  margin: 28px auto 37px auto;
  width: $product_description_width * 0.35;
}
.material_designer span {
  color: #2f2f2f;
}
.product_price {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin: 0 auto;
  padding-right: 25px;
}
.product_description_line {
  background-color: #eaeaea;
  width: $product_description_width * 0.66;
  margin: 43px auto 63px auto;
}
.product_choice_form {
  width: $product_description_width * 0.5;
  margin: 0 auto;
}
.product_choice_form_element label {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}
.product_choice_form_element {
  select,
  input {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    margin-top: 16px;
    font-family: Lato;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
    padding-left: 10px;
  }
}
.add_to_cart_button {
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #ef5b70;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  i{
    color: #ef5b70;
    font-size: 27px;
  }
}
.add_to_cart_button:hover{
  background-color:#ef5b70;
  p{
    color: #fff;
  }
  i{
    color: #fff;
  }
}
.add_to_cart_button p {
  font-family: Lato;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #ef5b70;
  margin-left: 15px;
}
.input_fields {
  display: flex;
  justify-content: space-between;
  margin: auto auto 28px auto;
}
.product_page_recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 847px auto 0 auto;
  width: $product_description_width;
}
.product_page_recommendations_cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.product_page_recommendations h2 {
  margin-bottom: 72px;
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #4d4d4d;
}
.product_page_recommendations_card img {
  display: block;
  padding: 5px 86px;
  background-color: #e9e9e9;
  height: 270px;
}
.product_page_recommendations_card:last-of-type img {
  padding: 5px 0;
}
.product_page_recommendations_card {
  margin-right: 32px;
}
.product_page_recommendations_card:last-of-type {
  margin-right: 0;
}
.product_page_recommendations_card h3 {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  color: #6f6e6e;
  margin: 16px 14px;
}
.sidebar_products {
  margin: 60px 3% 110px 3%;
  display: flex;
}
.sidebar_txt {
  font-family: Lato;
  font-size: 14px;
  line-height: 37px;
  font-weight: 900;
  color: #ef5b70;
  height: 37px;
  margin-left: 11px;
}
.sidebar {
  flex: 1;
  margin-right: 5%;
  details {
    margin-bottom: 30px;
    summary {
      cursor: pointer;
      list-style-type: none;
      border-left: 5px solid #ef5b70;
      .for_border_sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        padding-right: 5px;
        h5 {
          @extend .sidebar_txt;
        }
        i {
          height: 37px;
          line-height: 37px;
          color: #ef5b70;
        }
      }
    }
    a {
      font-family: Lato;
      font-size: 14px;
      line-height: 33px;
      font-weight: 700;
      color: #6f6e6e;
      margin-left: 6%;
      text-decoration: none;
      display: block;
    }
    a:hover {
      color: #f16d7f;
    }
  }
  details[open] i {
    transform: rotate(180deg);
  }
}
.choice-boxes-txt {
  margin-bottom: 25px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #6f6e6e;
  display: block;
}
.products {
  flex: 4;
  .choice-boxes {
    display: flex;
    margin-bottom: 43px;
    .trending_now_box {
      flex: 1;
      label {
        @extend .choice-boxes-txt;
      }
      .trending_now_box_line {
        display: flex;
        a {
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          color: #6f6e6e;
          text-decoration: none;
          padding: 0 3%;
          border-right: 1px solid rgb(202, 197, 197);
        }
      }
      .trending_now_box_line a:last-of-type {
        border-right: none;
        padding-right: 0;
      }
      .trending_now_box_line a:first-of-type {
        padding-left: 0;
      }
    }
    .size_box {
      flex: 2;
      legend {
        @extend .choice-boxes-txt;
      }
      .size-box-checkboxes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        label {
          display: grid;
          grid-template-columns: 1fr 4fr;
          align-items: center;
          p {
            margin-top: 1px;
          }
        }
      }
    }
    .price_range_box {
      flex: 2;
      label {
        @extend .choice-boxes-txt;
      }
      input {
        background: #f16d7f;
      }
    }
  }
  .sort_panel {
    background-color: #f3f3f3;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    .sort_panel_details:last-of-type {
      margin-left: 2.5%;
      width: 8%;
      grid-template-columns: 63% 1fr;
    }
    .sort_panel_details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      border: 1px solid #ebebeb;
      height: 60%;
      background-color: #fff;
      label {
        border-right: 1px solid #ebebeb;
        height: 100%;
        text-align: center;
        p {
          display: inline-block;
          vertical-align: middle;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          color: #6f6e6e;
        }
      }
    }
    label::before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
    .sort_panel_details:first-of-type {
      border-right: none;
      width: 15%;
      i {
        border-right: 1px solid #ebebeb;
        padding-right: 12%;
      }
    }
    .sort_panel_details_select {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 0 7%;
      select {
        appearance: none;
        border: none;
        font-family: "Font Awesome";
        font-size: 14px;
        font-weight: 400;
        color: #6f6e6e;
        height: 100%;
        cursor: pointer;
      }
      i {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        color: #6f6e6e;
        background-color: #fff;
        border: 1px solid #ebebeb;
        border-left: none;
        border-right: none;
      }
      & i:last-of-type {
        border-right: 1px solid #eaeaea;
      }
    }
  }
  .product_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 5vw;
  }
  .products_control_panel {
    display: flex;
    justify-content: space-between;
    .page_slider_box {
      display: flex;
      flex: 1;
      .page_slider {
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding: 10px 5px;
        margin: auto 0;
        width: 36%;
        text-align: center;
        a {
          text-decoration: none;
          color: #c4c4c4;
          padding: 0 2%;
        }
        a:hover {
          color: #ef5b70;
        }
      }
    }
    .products_button_box {
      flex: 1;
      display: flex;
      justify-content: end;
      button {
        background-color: #ffffff;
        border: 1px solid #ef5b70;
        border-radius: 3px;
        font-family: Lato;
        font-size: 16px;
        line-height: 26px;
        font-weight: 900;
        color: #ef5b70;
        padding: 0 10%;
        cursor: pointer;
        transition: all 0.5s;
      }
      button:hover {
        color: #fff;
        background-color: #ef5b70;
      }
    }
  }
}
.discount_banner_description_horizontal {
  flex-direction: row;
  height: 341px;
  align-items: center;
  .discount_banner_description_item {
    display: flex;
    align-items: center;
    margin-top: 3%;
    height: 100%;
    .discount_banner_mini_images {
      top: 19%;
      left: 44%;
    }
    .discount_banner_description_title {
      text-align: center;
    }
    .discount_banner_description_text {
      text-align: justify;
    }
  }
}
.added_cart {
  max-width: 80%;
  margin: 90px auto 63px auto;
  .added_cart_row {
    display: grid;
    grid-template-columns: 3fr repeat(5, 1fr);
    margin: 20px auto;
    .added_product {
      display: flex;
      a {
        max-width: 45%;
        img{
          width: 100%;
        }
      }
      .added_product_description {
        a{
          text-decoration: none;
        }
        margin: auto 0 auto 5%;
        h4 {
          font-family: Lato;
          font-size: 13px;
          line-height: 1.2;
          font-weight: 900;
          text-transform: uppercase;
          color: #222222;
          margin-bottom: 32%;
        }
        p {
          font-family: Lato;
          font-size: 13px;
          line-height: 20px;
          color: #6f6e6e;
          span {
            font-weight: 900;
            color: #575757;
            margin-right: 3%;
          }
        }
      }
    }
    .cart_columns {
      font-family: Lato;
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -0.015em;
      color: #222222;
      text-align: center;
    }
    .cart_columns:first-of-type {
      text-align: left;
    }
    .added_product_parameters {
      font-family: Lato;
      font-size: 13px;
      font-weight: 900;
      color: #656565;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        margin-top: 0;
        width: 38%;
      }
    }
    .cart_delete_button {
      font-size: 16px;
      i:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}
.shopping_cart_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
  .shopping_cart_button {
    transition: all 0.5s;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    color: #4a4a4a;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    padding: 0 4%;
  }
  button:hover {
    background-color: #4a4a4a;
    color: #fff;
  }
}
.order_registration {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 79px auto;
  .coupon_discount {
    flex: 1;
  }
  .shipping_address {
    flex: 1;
  }
  label {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    display: block;
    margin-bottom: 20px;
  }
  .order_registration label:last-of-type {
    margin-bottom: 28px;
  }
  input {
    height: 45px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    display: block;
    color: #b1b1b1;
    margin-bottom: 20px;
    width: 88%;
    border: 1px solid #eaeaea;
    padding-left: 5%;
  }
  button {
    transition: all 0.5s;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 11px;
    font-weight: 700;
    color: #4a4a4a;
    padding: 0 4%;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #4a4a4a;
    color: #fff;
  }
  .discount_checkout_wrapper {
    display: flex;
    flex: 2;
    .proceed_to_checkout {
      flex: 1;
      background-color: #f5f3f3;
      height: 83%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      hr {
        background-color: #e2e2e2;
        width: 81%;
        margin-bottom: 5%;
      }
      form {
        width: 82%;
        button {
          transition: all 0.5s;
          height: 50px;
          background-color: #f16d7f;
          font-family: Lato;
          font-size: 16px;
          font-weight: 700;
          color: #ffffff;
          cursor: pointer;
          display: block;
          margin: 0 auto;
          width: 100%;
        }
      }
      button:hover {
        background-color: #fff;
        color: #f16d7f;
      }
    }
  }
  h5 {
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 14px;
    width: 81%;
    text-align: right;
    span {
      margin-left: 5%;
    }
  }
  h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 22px;
    width: 81%;
    text-align: right;
    span {
      color: #f16d7f;
      margin-left: 5%;
    }
  }
  select {
    display: block;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    width: 93.4%;
    height: 45px;
    appearance: none;
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    padding-left: 5%;
  }
}
.order_info {
  max-width: 86%;
  margin: 0 auto 93px auto;
  .address_registration {
    display: flex;
    margin-top: 89px;
    margin-bottom: 79px;
    margin: 89px auto 79px auto;
    p {
      font-family: Lato;
      font-size: 13px;
      font-weight: 900;
      color: #b3b2b2;
    }
    .address_wrapper {
      flex: 1;
      display: flex;
      justify-content: start;
      h3 {
        font-family: Lato;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        color: #222222;
      }
      .address_registration_number {
        margin-right: 2%;
      }
      .address {
        .address_checkout_as:last-of-type {
          margin-bottom: 33px;
        }
        .address_checkout_as {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          input {
            margin-right: 4px;
          }
        }
        button {
          transition: all 0.5s;
          cursor: pointer;
          height: 50px;
          background-color: #ffffff;
          border: 1px solid #eaeaea;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          color: #4a4a4a;
          width: 72%;
        }
        button:hover {
          color: #fff;
          background-color: #4a4a4a;
        }
        h3 {
          margin-bottom: 39px;
        }
        h5 {
          font-family: Lato;
          font-size: 13px;
          font-weight: 900;
          text-transform: uppercase;
          color: #222222;
          margin-bottom: 15px;
        }
        label {
          font-family: Lato;
          font-size: 12px;
          font-weight: 900;
          color: #222222;
        }
        p {
          margin-bottom: 34px;
          i {
            font-size: 13px;
            color: #b3b2b2;
            margin-right: 4px;
          }
          .address h5:last-of-type {
            margin-top: 33px;
          }
        }
      }
      .addres input:last-of-type {
        margin-bottom: 0;
      }
      .address p:nth-of-type(3) {
        margin: 0;
      }
      .address p:last-of-type {
        margin-bottom: 38px;
        margin-top: 15px;
      }
    }
    .registration_wrapper {
      display: flex;
      flex: 1;
      justify-content: end;
      align-items: flex-end;
      .registration {
        width: 66%;
        .registration em:last-of-type {
          font-size: 13px;
          margin-bottom: 32px;
          display: block;
        }
        .registration_field {
          margin-bottom: 23px;
          display: flex;
          label {
            margin-bottom: 15px;
            em {
              font-size: 17px;
              margin: 0;
              display: inline;
            }
          }
          flex-direction: column;
        }
        .registration_buttons {
          display: flex;
          margin-top: 32px;
          justify-content: space-between;
          max-width: 90%;
          align-items: center;
          button {
            transition: all 0.5s;
            cursor: pointer;
            height: 50px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            color: #4a4a4a;
            width: 55%;
          }
          button:hover {
            color: #fff;
            background-color: #4a4a4a;
          }
          a {
            transition: all 0.5s;
            font-family: Lato;
            font-size: 14px;
            font-weight: 900;
            color: #222222;
            text-decoration: none;
          }
          a:hover {
            transform: scale(1.1);
          }
        }
        h5 {
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 27px;
        }
        em {
          font-family: Lato;
          font-size: 13px;
          font-weight: 400;
          color: #ff0d0d;
        }
        input {
          height: 45px;
          background-color: #ffffff;
          border: 1px solid #eaeaea;
        }
      }
    }
  }
  .order_info_details {
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    color: #443b3b;
    margin: 33px 0;
    h3{
      cursor: pointer;
    }
  }
}
.accordion {
  color: #555353;
  margin-left: 5%;
  display: none;
  li{
    margin-top: 10px;
  }
}
