@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  outline: none;
}

.header_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.letter {
  font-weight: 900;
  color: #f16d7f;
}

.main_title {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.container {
  max-width: 1367px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.search {
  width: 317px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-right-width: 0px;
  border-left-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left_part a {
  display: block;
  text-decoration: none;
}

.left_part a:nth-of-type(2) {
  margin: 0 3% 0 1%;
}

.search_field {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.magnifier {
  background-color: #ffffff;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  padding: 0px 11px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #a4a4a4;
  cursor: pointer;
}

.drop-down_list {
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  width: 87px;
  height: 36px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  position: relative;
  z-index: 10;
}

.browse_item {
  background-color: white;
  padding-left: 20px;
  padding-right: 143px;
  margin-top: 20px;
}

.browse-box {
  background-color: white;
  width: 262px;
  padding-bottom: 20px;
}

.browse-link {
  display: block;
  text-decoration: none;
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.browse-link:hover {
  color: #f16d7f;
}

.browse_text {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  text-align: center;
  height: 36px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.browse_text:hover {
  background-color: #696666;
  color: #fff;
}

.magnifier:hover {
  background-color: #696666;
  color: #fff;
}

.browse_text p {
  padding-right: 5px;
}

.browse_text i {
  padding-bottom: 4px;
}

.search::-webkit-input-placeholder {
  padding-left: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search:-ms-input-placeholder {
  padding-left: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search::-ms-input-placeholder {
  padding-left: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.search::placeholder {
  padding-left: 16px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.my_account {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  margin-left: 18px;
  border-radius: 3px;
  border: 1px solid #f16d7f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.my_account .in_shopping_cart_products form {
  width: 100%;
}

.my_account .in_shopping_cart_products form button {
  height: 50px;
  cursor: pointer;
  background-color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.my_account .in_shopping_cart_products form button:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.my_account .in_shopping_cart_products form:first-of-type button {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  margin-bottom: 11px;
}

.my_account .in_shopping_cart_products form:first-of-type button:hover {
  background-color: #f16d7f;
  color: #fff;
}

.my_account .in_shopping_cart_products {
  -webkit-transform: translate(-12%, 1%);
          transform: translate(-12%, 1%);
  width: 158%;
  padding: 10%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.my_account .in_shopping_cart_products .in_shopping_cart_products_total_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  margin: 19px 0 19px 0;
}

.my_account .in_shopping_cart_products hr {
  background-color: rgba(237, 237, 237, 0.74);
  margin: 0 auto;
  margin: 6% 0;
  border: none;
  height: 1px;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product img {
  width: 43%;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product i {
  font-size: 14px;
  color: #c0c0c0;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product i:hover {
  color: red;
  cursor: pointer;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product .in_shopping_cart_product_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product .in_shopping_cart_product_description h3 {
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  color: #222222;
  text-align: center;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product .in_shopping_cart_product_description img {
  width: 61%;
  margin: 10% 0;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product .in_shopping_cart_product_description p {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  color: #f16d7f;
}

.my_account .in_shopping_cart_products .in_shopping_cart_product .in_shopping_cart_product_description p span {
  font-size: 13px;
}

.my_account:hover {
  background-color: #fff;
  border: 1px solid #f16d7f;
}

.my_account:hover .text_my_account {
  color: #f16d7f;
}

.text_my_account {
  font-family: Lato;
  font-size: 15px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.text_my_account p {
  padding-right: 9px;
}

.text_my_account i {
  padding-bottom: 4.5px;
}

.right_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right_part .bi-cart3 {
  font-size: 34px;
  color: #222222;
}

.right_part .shopping_cart_link:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.first_hr {
  width: 1600px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.menu {
  margin-top: 24px;
}

.menu_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 19px auto 22px;
  width: 60%;
}

.menu-link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  padding: 25px 20px;
}

.menu_line {
  color: #ececec;
  background-color: #ececec;
  border: none;
  height: 2px;
  margin-top: 24px;
}

.intro_img {
  width: 100%;
  height: auto;
}

.intro {
  height: 665px;
  background-color: #e8e8e8;
}

.intro_text {
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
  margin-top: 225px;
  margin-left: 260px;
}

.intro-block {
  height: 100%;
  background-image: url(../images/Intro_img.png);
}

.brand_text {
  font-family: Lato;
  font-size: 60px;
  line-height: 45px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 20px;
}

.lux_text {
  font-size: 40px;
  font-family: Lato;
  font-weight: 900;
  line-height: 31px;
}

.fashion_text {
  font-size: 40px;
  color: #f16d7f;
  font-family: Lato;
  font-weight: 900;
}

.content {
  max-width: 1141px;
  margin: 98px auto;
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (261px)[3];
      grid-template-rows: repeat(3, 261px);
  -webkit-column-gap: 2%;
          column-gap: 2%;
  margin-bottom: 100px;
}

.offers [class^="offers_card-"]:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: #f16d7f 0 0 25px;
          box-shadow: #f16d7f 0 0 25px;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers [class^="offers_card-"]:hover h2 {
  background-color: #f16d7f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers [class^="offers_card-"]:hover h2 span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.offers .offers_card-1 {
  grid-column: span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin-bottom: 20px;
}

.offers .offers_card-2 {
  grid-column: span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.offers .offers_card-3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-bottom: 20px;
}

.offers .offers_card-4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.offers_img {
  width: 100%;
  height: 100%;
}

.offers_card_img {
  position: relative;
  height: 100%;
}

[class^="offers_card"] h2 {
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  background-color: white;
  padding: 16px 20px;
}

.category {
  font-size: 30px;
  color: #f16d7f;
}

.mega-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 35px;
  display: none;
}

.mega-heading {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.mega-link {
  display: block;
  text-decoration: none;
  color: #646464;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.mega-link:hover {
  color: #f16d7f;
}

.menu-element {
  position: relative;
}

.mega-item {
  margin-right: 45px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-box::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: -8px;
  left: 35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.menu-element:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box::before {
  right: 55px;
  left: auto;
}

.product_name {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 9px;
  margin-bottom: 17px;
}

.price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto auto 21px 0;
}

.featured_items {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.featured_items_text {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.featured_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_card {
  margin: 60px auto;
  position: relative;
}

.product_card .cart-box {
  position: absolute;
  top: 98px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  display: none;
}

.product_card .cart-box .cart-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
  text-decoration: none;
  border: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_card .cart-box .cart-link .bi-cart3 {
  color: #fff;
  margin-right: 4px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_card .cart-box .cart-link .add-text {
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
  margin: 15px auto;
}

.product_card .cart-box .cart-link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product_card:hover {
  -webkit-box-shadow: 0 6px 8px black;
          box-shadow: 0 6px 8px black;
}

.product_card:hover .cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card:hover .product_photo {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.browse_all_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  width: 20%;
  margin: 20px auto 113px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.browse_all_products p {
  margin-right: 2%;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
}

.browse_all_products i {
  color: #fff;
}

.browse_all_products:hover {
  background-color: #fff;
  border-color: #f16d7f;
}

.browse_all_products:hover p {
  color: #f16d7f;
}

.browse_all_products:hover i {
  color: #f16d7f;
}

.m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.recommended_products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discount_banner_description_text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  width: 100%;
}

.discount_banner_description_title {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
  display: inline-block;
  width: 100%;
}

.discount_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 97px;
  position: relative;
}

.discount_banner_description {
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.discount_banner_description_item {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.discount_banner_description_title_text {
  width: 65%;
  margin: 0 auto;
}

.discount_banner_mini_images {
  position: absolute;
  top: 0;
  left: 0;
}

.quote_subscription {
  background-image: url(../images/background_ocean.jpg);
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  background-position: bottom;
}

.quote_text {
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  display: block;
  margin-bottom: 20px;
  font-weight: 900;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whitespace {
  -ms-flex-preferred-size: 0.1%;
      flex-basis: 0.1%;
  background-color: white;
}

.quote_img {
  display: block;
  height: 38%;
}

.quote_content {
  margin: 15% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.quote_content .quote_content_slider {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14%;
}

.quote_content .quote_content_slider a {
  display: block;
  height: 4px;
  width: 26.6666%;
  background-color: #d6d6d6;
}

.quote_content .quote_content_slider a:nth-of-type(2) {
  background-color: #f16d7f;
}

.quote_text_author {
  margin-left: 3%;
}

.subscription_content {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.subscribe_title {
  text-align: center;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}

.subscribe_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  list-style-type: none;
  margin: 0 auto;
  width: 80%;
}

.subscribe_field_email {
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  height: 44px;
  width: 100%;
  border-right-width: 0;
  padding-left: 30px;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.35px;
}

.subscribe_button {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  border: none;
  height: 46px;
  width: 100%;
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe_button:hover {
  background-color: #fff;
  color: #f16d7f;
  cursor: pointer;
}

.subscribe_field_size {
  width: 80%;
  margin: 0 auto;
}

.subscribe_button_size {
  width: 20%;
  margin: 0 auto;
}

.quote_author {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.quote_author_addition {
  color: #222224;
  font-family: Lato;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.3px;
}

.footer {
  height: 537px;
}

.main_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 109px auto 90px auto;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo a {
  text-decoration: none;
}

.footer_text {
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.footer_list {
  list-style-type: none;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.footer_list:last-of-type {
  margin-right: 0;
}

.footer_list li:last-of-type {
  margin-bottom: 0;
}

.footer_list h3 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  margin-bottom: 45px;
  padding-bottom: 0;
}

.footer_list li {
  margin-bottom: 30px;
  white-space: nowrap;
}

.footer_list a:hover {
  color: #f16d7f;
}

.footer_logo_text {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}

.footer_logo_text h1 {
  margin-top: 9px;
  margin-left: 1.5%;
}

.footer_list:first-of-type {
  margin-left: 7%;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 79px;
  background-color: #e6e6e6;
}

.copyright_text {
  color: #7a7a7a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 79px;
}

.product_card_link {
  text-decoration: none;
  display: block;
}

.discount_banner_offer {
  font-family: Lato;
  font-size: 53.7px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  position: absolute;
  top: 146px;
  left: 39px;
}

.OFFER {
  color: #f16d7f;
}

.discount_banner_offer h3:nth-child(2) {
  font-size: 32.2px;
}

.fa-brands {
  background-color: white;
  cursor: pointer;
  width: 8%;
  padding: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.fa-brands::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-brands:hover {
  background-color: #f16d7f;
}

.icon-box {
  margin-top: 24px;
}

.icon-box a {
  color: black;
}

.footer-link {
  text-decoration: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.new_arrivals_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
  background-color: #f8f3f4;
}

.new_arrivals_block h2 {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
  margin-top: 65px;
  margin-left: 100px;
}

.bread_crumbs {
  margin-top: 65px;
  margin-right: 160px;
}

.bread_crumbs a {
  text-decoration: none;
  color: #636363;
  margin-left: -3px;
}

.bread_crumbs a:last-of-type {
  color: #f16d7f;
}

.main_product_photo {
  height: 724px;
  margin: 0 auto;
  display: block;
}

.decoration_line::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.grey_decoration_line {
  height: 1px;
  background-color: #eaeaea;
  width: 42px;
  display: inline-block;
  margin-right: -0.25em;
  vertical-align: middle;
}

.pink_decoration_line {
  height: 3px;
  background-color: #ef5b70;
  width: 63px;
  display: inline-block;
  margin-right: -0.25em;
  vertical-align: middle;
}

.product_description {
  width: 956.9px;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  padding-top: 73px;
  border: 1px solid #eaeaea;
  left: 15%;
  top: 163%;
  padding-bottom: 122px;
}

.main_product_photo_block {
  background-color: #f7f7f7;
  position: relative;
  padding-bottom: 40px;
  z-index: -1;
}

.product_description_wrapper {
  width: 1367px;
  text-align: center;
}

.product_collection {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  padding-left: 4px;
}

.product_description_text {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  width: 631.554px;
  margin: 0 auto;
  display: block;
}

.material_designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px auto 37px auto;
  width: 334.915px;
}

.material_designer span {
  color: #2f2f2f;
}

.product_price {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin: 0 auto;
  padding-right: 25px;
}

.product_description_line {
  background-color: #eaeaea;
  width: 631.554px;
  margin: 43px auto 63px auto;
}

.product_choice_form {
  width: 478.45px;
  margin: 0 auto;
}

.product_choice_form_element label {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}

.product_choice_form_element select,
.product_choice_form_element input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  margin-top: 16px;
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 10px;
}

.add_to_cart_button {
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #ef5b70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_to_cart_button p {
  font-family: Lato;
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #ef5b70;
  margin-left: 15px;
}

.input_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto auto 28px auto;
}

.product_page_recommendations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 847px auto 0 auto;
  width: 956.9px;
}

.product_page_recommendations_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_page_recommendations h2 {
  margin-bottom: 72px;
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #4d4d4d;
}

.product_page_recommendations_card img {
  display: block;
  padding: 5px 86px;
  background-color: #e9e9e9;
  height: 270px;
}

.product_page_recommendations_card:last-of-type img {
  padding: 5px 0;
}

.product_page_recommendations_card {
  margin-right: 32px;
}

.product_page_recommendations_card:last-of-type {
  margin-right: 0;
}

.product_page_recommendations_card h3 {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
  color: #6f6e6e;
  margin: 16px 14px;
}

.sidebar_products {
  margin: 60px 3% 110px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar_txt, .sidebar details summary .for_border_sidebar h5 {
  font-family: Lato;
  font-size: 14px;
  line-height: 37px;
  font-weight: 900;
  color: #ef5b70;
  height: 37px;
  margin-left: 11px;
}

.sidebar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 5%;
}

.sidebar details {
  margin-bottom: 30px;
}

.sidebar details summary {
  cursor: pointer;
  list-style-type: none;
  border-left: 5px solid #ef5b70;
}

.sidebar details summary .for_border_sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding-right: 5px;
}

.sidebar details summary .for_border_sidebar i {
  height: 37px;
  line-height: 37px;
  color: #ef5b70;
}

.sidebar details a {
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 700;
  color: #6f6e6e;
  margin-left: 6%;
  text-decoration: none;
  display: block;
}

.sidebar details a:hover {
  color: #f16d7f;
}

.sidebar details[open] i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.choice-boxes-txt, .products .choice-boxes .trending_now_box label, .products .choice-boxes .size_box legend, .products .choice-boxes .price_range_box label {
  margin-bottom: 25px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #6f6e6e;
  display: block;
}

.products {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.products .choice-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
}

.products .choice-boxes .trending_now_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products .choice-boxes .trending_now_box .trending_now_box_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .choice-boxes .trending_now_box .trending_now_box_line a {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  text-decoration: none;
  padding: 0 3%;
  border-right: 1px solid #cac5c5;
}

.products .choice-boxes .trending_now_box .trending_now_box_line a:last-of-type {
  border-right: none;
  padding-right: 0;
}

.products .choice-boxes .trending_now_box .trending_now_box_line a:first-of-type {
  padding-left: 0;
}

.products .choice-boxes .size_box {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.products .choice-boxes .size_box .size-box-checkboxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.products .choice-boxes .size_box .size-box-checkboxes label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .choice-boxes .size_box .size-box-checkboxes label p {
  margin-top: 1px;
}

.products .choice-boxes .price_range_box {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.products .choice-boxes .price_range_box input {
  background: #f16d7f;
}

.products .sort_panel {
  background-color: #f3f3f3;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2%;
}

.products .sort_panel .sort_panel_details:last-of-type {
  margin-left: 2.5%;
  width: 8%;
  -ms-grid-columns: 63% 1fr;
      grid-template-columns: 63% 1fr;
}

.products .sort_panel .sort_panel_details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ebebeb;
  height: 60%;
  background-color: #fff;
}

.products .sort_panel .sort_panel_details label {
  border-right: 1px solid #ebebeb;
  height: 100%;
  text-align: center;
}

.products .sort_panel .sort_panel_details label p {
  display: inline-block;
  vertical-align: middle;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}

.products .sort_panel label::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.products .sort_panel .sort_panel_details:first-of-type {
  border-right: none;
  width: 15%;
}

.products .sort_panel .sort_panel_details:first-of-type i {
  border-right: 1px solid #ebebeb;
  padding-right: 12%;
}

.products .sort_panel .sort_panel_details_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 7%;
}

.products .sort_panel .sort_panel_details_select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font-family: "Font Awesome";
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
  height: 100%;
  cursor: pointer;
}

.products .sort_panel .sort_panel_details_select i {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6f6e6e;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-left: none;
  border-right: none;
}

.products .sort_panel .sort_panel_details_select i:last-of-type {
  border-right: 1px solid #eaeaea;
}

.products .product_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
}

.products .products_control_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .products_control_panel .page_slider_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.products .products_control_panel .page_slider_box .page_slider {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px 5px;
  margin: auto 0;
  width: 36%;
  text-align: center;
}

.products .products_control_panel .page_slider_box .page_slider a {
  text-decoration: none;
  color: #c4c4c4;
  padding: 0 2%;
}

.products .products_control_panel .page_slider_box .page_slider a:hover {
  color: #ef5b70;
}

.products .products_control_panel .products_button_box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.products .products_control_panel .products_button_box button {
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 900;
  color: #ef5b70;
  padding: 0 10%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products .products_control_panel .products_button_box button:hover {
  color: #fff;
  background-color: #ef5b70;
}

.discount_banner_description_horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 341px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount_banner_description_horizontal .discount_banner_description_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  height: 100%;
}

.discount_banner_description_horizontal .discount_banner_description_item .discount_banner_mini_images {
  top: 19%;
  left: 44%;
}

.discount_banner_description_horizontal .discount_banner_description_item .discount_banner_description_title {
  text-align: center;
}

.discount_banner_description_horizontal .discount_banner_description_item .discount_banner_description_text {
  text-align: justify;
}

.added_cart {
  max-width: 80%;
  margin: 90px auto 63px auto;
}

.added_cart .added_cart_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr (1fr)[5];
      grid-template-columns: 3fr repeat(5, 1fr);
  margin: 20px auto;
}

.added_cart .added_cart_row .added_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.added_cart .added_cart_row .added_product img {
  max-width: 38%;
}

.added_cart .added_cart_row .added_product .added_product_description {
  margin: auto 0 auto 5%;
}

.added_cart .added_cart_row .added_product .added_product_description h4 {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 32%;
}

.added_cart .added_cart_row .added_product .added_product_description p {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  color: #6f6e6e;
}

.added_cart .added_cart_row .added_product .added_product_description p span {
  font-weight: 900;
  color: #575757;
  margin-right: 3%;
}

.added_cart .added_cart_row .cart_columns {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  text-align: center;
}

.added_cart .added_cart_row .cart_columns:first-of-type {
  text-align: left;
}

.added_cart .added_cart_row .added_product_parameters {
  font-family: Lato;
  font-size: 13px;
  font-weight: 900;
  color: #656565;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.added_cart .added_cart_row .added_product_parameters input {
  margin-top: 0;
  width: 38%;
}

.added_cart .added_cart_row .cart_delete_button {
  font-size: 16px;
}

.added_cart .added_cart_row .cart_delete_button i:hover {
  color: red;
  cursor: pointer;
}

.shopping_cart_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.shopping_cart_buttons .shopping_cart_button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  color: #4a4a4a;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  cursor: pointer;
  padding: 0 4%;
}

.shopping_cart_buttons button:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.order_registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: 0 auto 79px auto;
}

.order_registration .coupon_discount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order_registration .shipping_address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order_registration label {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  display: block;
  margin-bottom: 20px;
}

.order_registration .order_registration label:last-of-type {
  margin-bottom: 28px;
}

.order_registration input {
  height: 45px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  display: block;
  color: #b1b1b1;
  margin-bottom: 20px;
  width: 88%;
  border: 1px solid #eaeaea;
  padding-left: 5%;
}

.order_registration button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  color: #4a4a4a;
  padding: 0 4%;
  cursor: pointer;
  transition: all 0.5s;
}

.order_registration button:hover {
  background-color: #4a4a4a;
  color: #fff;
}

.order_registration .discount_checkout_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.order_registration .discount_checkout_wrapper .proceed_to_checkout {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f5f3f3;
  height: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_registration .discount_checkout_wrapper .proceed_to_checkout hr {
  background-color: #e2e2e2;
  width: 81%;
  margin-bottom: 5%;
}

.order_registration .discount_checkout_wrapper .proceed_to_checkout form {
  width: 82%;
}

.order_registration .discount_checkout_wrapper .proceed_to_checkout form button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 50px;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.order_registration .discount_checkout_wrapper .proceed_to_checkout button:hover {
  background-color: #fff;
  color: #f16d7f;
}

.order_registration h5 {
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 14px;
  width: 81%;
  text-align: right;
}

.order_registration h5 span {
  margin-left: 5%;
}

.order_registration h4 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 22px;
  width: 81%;
  text-align: right;
}

.order_registration h4 span {
  color: #f16d7f;
  margin-left: 5%;
}

.order_registration select {
  display: block;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  width: 93.4%;
  height: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 5%;
}

.order_info {
  max-width: 86%;
  margin: 0 auto 93px auto;
}

.order_info .address_registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 89px;
  margin-bottom: 79px;
  margin: 89px auto 79px auto;
}

.order_info .address_registration p {
  font-family: Lato;
  font-size: 13px;
  font-weight: 900;
  color: #b3b2b2;
}

.order_info .address_registration .address_wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.order_info .address_registration .address_wrapper h3 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
}

.order_info .address_registration .address_wrapper .address_registration_number {
  margin-right: 2%;
}

.order_info .address_registration .address_wrapper .address .address_checkout_as:last-of-type {
  margin-bottom: 33px;
}

.order_info .address_registration .address_wrapper .address .address_checkout_as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.order_info .address_registration .address_wrapper .address .address_checkout_as input {
  margin-right: 4px;
}

.order_info .address_registration .address_wrapper .address button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  width: 72%;
}

.order_info .address_registration .address_wrapper .address button:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.order_info .address_registration .address_wrapper .address h3 {
  margin-bottom: 39px;
}

.order_info .address_registration .address_wrapper .address h5 {
  font-family: Lato;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.order_info .address_registration .address_wrapper .address label {
  font-family: Lato;
  font-size: 12px;
  font-weight: 900;
  color: #222222;
}

.order_info .address_registration .address_wrapper .address p {
  margin-bottom: 34px;
}

.order_info .address_registration .address_wrapper .address p i {
  font-size: 13px;
  color: #b3b2b2;
  margin-right: 4px;
}

.order_info .address_registration .address_wrapper .address p .address h5:last-of-type {
  margin-top: 33px;
}

.order_info .address_registration .address_wrapper .addres input:last-of-type {
  margin-bottom: 0;
}

.order_info .address_registration .address_wrapper .address p:nth-of-type(3) {
  margin: 0;
}

.order_info .address_registration .address_wrapper .address p:last-of-type {
  margin-bottom: 38px;
  margin-top: 15px;
}

.order_info .address_registration .registration_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.order_info .address_registration .registration_wrapper .registration {
  width: 66%;
}

.order_info .address_registration .registration_wrapper .registration .registration em:last-of-type {
  font-size: 13px;
  margin-bottom: 32px;
  display: block;
}

.order_info .address_registration .registration_wrapper .registration .registration_field {
  margin-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order_info .address_registration .registration_wrapper .registration .registration_field label {
  margin-bottom: 15px;
}

.order_info .address_registration .registration_wrapper .registration .registration_field label em {
  font-size: 17px;
  margin: 0;
  display: inline;
}

.order_info .address_registration .registration_wrapper .registration .registration_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_info .address_registration .registration_wrapper .registration .registration_buttons button {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  width: 55%;
}

.order_info .address_registration .registration_wrapper .registration .registration_buttons button:hover {
  color: #fff;
  background-color: #4a4a4a;
}

.order_info .address_registration .registration_wrapper .registration .registration_buttons a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  color: #222222;
  text-decoration: none;
}

.order_info .address_registration .registration_wrapper .registration .registration_buttons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.order_info .address_registration .registration_wrapper .registration h5 {
  margin-bottom: 15px;
}

.order_info .address_registration .registration_wrapper .registration p {
  margin-bottom: 27px;
}

.order_info .address_registration .registration_wrapper .registration em {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  color: #ff0d0d;
}

.order_info .address_registration .registration_wrapper .registration input {
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.order_info .order_info_details {
  font-family: Lato;
  font-size: 16px;
  font-weight: 900;
  color: #222222;
  margin: 33px 0;
}
/*# sourceMappingURL=style.css.map */